# {{ title }}

## Category

### Level

{{ social.difficulty }}

### Tags

{{ tags }}

## Solution performance

### CPU

Took {{ perf.runtimeDisplay }}

Beats {{ perf.runtimePercentile }}%

### Memory

Used {{ perf.memoryDisplay }}

Beats {{ perf.memoryPercentile }}%

## Problem statement

[{{ title }}](https://leetcode.com/problems/{{ slug }})

{{ question }}

### Social

:thumbsup: {{ social.likes }} / :thumbsdown: {{ social.dislikes }}
