# {{ title }}

## The Problem

[{{ title }}](https://leetcode.com/problems/{{ slug }})

### Level

{{ social.difficulty }}

### Tags

{{ tags }}

## Solution

### Code

[solution.go](solution.go)

[LeetCode submissions section](https://leetcode.com/problems/{{ slug }}/submissions/{{ id }}/)

### Performance

[LeetCode submission details](https://leetcode.com/submissions/detail/{{ id }}/)

#### CPU

Took {{ perf.runtimeDisplay }} (beats {{ perf.runtimePercentile }}%)

#### Memory

Used {{ perf.memoryDisplay }} (beats {{ perf.memoryPercentile }}%)

## Problem statement

{{ question }}

## Social rank

:thumbsup: {{ social.likes }} / :thumbsdown: {{ social.dislikes }}
